.container-fluid {
  margin-left: 260px;
  padding: 20px; /* opcional para dar espaçamento interno */
  transition: margin-left 0.3s ease; /* opcional para suavizar animação se o menu recolher/expandir */
}


