<app-menu></app-menu>

<div class="page-cadencias container-fluid">
  <div class="page-header">
    <h2 class="page-title">
      <mat-icon>calendar_today</mat-icon>
      Cadências de Vendas
    </h2>

    <div class="actions">
      <app-button textButton="Nova Cadência" icon="add" (click)="abrirModalCadastro()"></app-button>
    </div>
  </div>

  <section class="cadencias-salvas">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let c of cadenciasSalvas">
        <mat-expansion-panel-header class="painel-header">
          <div class="header-conteudo">
            <mat-panel-title>
              {{ c.nome }} - {{ c.descricao }}
            </mat-panel-title>
          </div>

          <div class="acoes">
            <button mat-icon-button (click)="editar(c.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="excluir(c.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-expansion-panel-header>

        <ul class="lista-etapas">
          <li *ngFor="let e of c.etapas; let i = index">
            <div class="linha-etapa">
              <div class="texto-etapa">
                <strong>Dia {{ e.dia }}</strong>

                <div class="lista-acoes">
                  <div class="acao-item" *ngFor="let acao of e.acoes; let j = index">
                    <strong>Ação {{ j + 1 }}:</strong>
                    {{ acao.canal }}
                    <span *ngIf="acao.condicao && acao.condicao !== 'normal'">
                      -
                      {{
                      acao.condicao === 'se_nao_atender'
                      ? 'Se não atender'
                      : 'Se não responder'
                      }}
                    </span>
                    <br>
                    <span>{{ acao.mensagem }}</span>
                  </div>
                </div>
              </div>

              <div class="acoes">
                <button mat-icon-button (click)="editarEtapa(c.id, e, i)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="excluirEtapa(c.id, i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</div>