.botao-primario {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 4px;
  background: #084d6e;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: #ff743e;
    color: var(--primary-color);
    transition: all 0.3s ease;
  }

  &.icone-somente {
    padding: 10px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    justify-content: center;

    mat-icon {
      margin: 0;
      font-size: 20px;
    }

    .texto-botao {
      display: none;
    }
  }
}
