<button class="menu-toggle" [ngClass]="{ 'menu-open': menuVisible }" (click)="toggleMenu()">
  <mat-icon>{{ menuVisible ? 'close' : 'menu' }}</mat-icon>
</button>

<div class="menu-backdrop" *ngIf="menuVisible" (click)="toggleMenu()"></div>

<nav class="sidemenu" [ngClass]="{ 'visible': menuVisible }">
  <ul>
    <li class="system-name" routerLink="/home">
      <img src="../../../assets/Logo_Nova_1.png" height="70px" class="logo" />
      Bud<span>Sys</span>
    </li>

    <p class="nome-empresa">{{ nomeEmpresa }}</p>
    <li routerLink="/dashboard" (click)="selectMenu()"><mat-icon>dashboard</mat-icon><span>Dashboard</span></li>
    <li routerLink="/agenda" (click)="selectMenu()"><mat-icon>calendar_month</mat-icon><span>Agenda</span></li>
    <li routerLink="/admin" (click)="selectMenu()"><mat-icon>handshake</mat-icon><span>Leads</span></li>
    <li routerLink="/admin/blog" (click)="selectMenu()"><mat-icon>article</mat-icon><span>Blog</span></li>
    <li routerLink="/cadencia" (click)="selectMenu()"><mat-icon>schema</mat-icon><span>Cadência de Vendas</span></li>
    <!--
    <li routerLink="/configuracoes" (click)="selectMenu()"><mat-icon>settings</mat-icon><span>Configurações</span></li>
    -->
    <li routerLink="/login" class="logout" (click)="logout()"><mat-icon>logout</mat-icon><span>Sair</span></li>
  </ul>
</nav>